---
layout_name: modules/getting-started/application
slug: getting-started
response_headers: >
  {
    "Access-Control-Allow-Origin": "*"
  }
---
<style>
code { font-size: 14px }
pre { font-size: 14px }
</style>

{% assign env = "https://partners.platform-os.com" %}
{% if params.env != blank %}
  {% assign env = params.env %}
{% endif %}
<p>
Welcome to Your Demo Instance
</p>

<p>
On Demo Instance you can install some modules
</p>

<form method="post" action="{{ env }}/demo/install_module">
<input type="hidden" name="domain" value="{{ context.location.host }}" />
<input type="hidden" name="redirect_to" value="https://{{ context.location.host }}/please-wait?wait_for=/" />
<input type="hidden" name="pos_module_id" value="19" />
<input class="wow-button" type="submit" value="Install Blog module" />
</form>
<br><br>

<p>You can also deploy an Instance from <b>public</b> git repository</p>

<form method="post" action="{{ env }}/demo/deploy_instance">
<input type="hidden" name="domain" value="{{ context.location.host }}" />
<input type="hidden" name="redirect_to" value="https://{{ context.location.host }}/please-wait?wait_for=/" />
<input type="text" name="git_url" placeholder="Git URL to a public repository" />
<input class="wow-button" type="submit" value="Deploy!" />
</form>

<br><br>
<p>Or, if you can start developing your Instance by following the steps below:</p>
    <div>
        <ol>
            <li>
                Download <a target="_blank"
                            href="https://www.npmjs.com/package/@platform-os/marketplace-kit">marketplace-kit</a>.
                Then, run following commands in your terminal:
            </li>
            <li><code>marketplace-kit env add demo --url https://{{ context.location.host }} --token {{ params.token }} --email demo@demo.platform-os.com</code></li>
            <li><code>marketplace-kit deploy demo --token {{ params.token }}</span></code></li>
        </ol>
    </div>

